body{
    margin: 0;
    color: #cdd6f4;
}

.window{
    width: 100%;
    height: 100vh;
    background-color: #1e1e2e;

    gap:1em;
    padding: 1em;

    display: grid;
    align-content: center;
    justify-items: center;
}

.pop-up{
    color: #11111b;
    background-color: #a6e3a1;
    padding: 0.5em;

    border-radius: 30px;
    gap: 0.5em;

    display: flex;
}

.visible{
    visibility:visible;
    animation-duration: 0.3s;
    animation-name: anim-in;
}
.invisible{
    visibility: hidden;
}

@keyframes anim-in {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.close{
    color: #627e56;
    cursor: pointer;
}

.panel{
    width: 30%;

    background-color: #313244;

    border-radius: 30px;

    display: grid;
    justify-items: center;

    padding: 1em;
    gap:1em;
}

.generate{
    height: 50px;
    width: 50%;

    background-color: #a6e3a1;
    border-radius: 30px;
}

.check{
    width: 25px;
    height: 25px;
}

.input{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
}

input{
    border-radius: 30px;
    text-align: center;
}

.result{
    display: flex;
    gap:10px;

    align-items: center;
}

h3{
    cursor: pointer;
}

h3:hover{
    color: #74c7ec;
}

@media (max-width: 600px) {
    .window{
        width: 100%;
        height: 100vh;
        background-color: #1e1e2e;

        gap:1em;
        padding: 1em;
        padding-top: 0;
        margin-top: 0;

        display: grid;
        align-content: center;
        justify-items: center;
    }

    .panel{
        width: 70%;

        background-color: #313244;

        border-radius: 30px;

        display: grid;
        justify-items: center;

        padding: 1em;
        gap:1em;
    }
    .input{
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;
    }
}